/*--- IMPORT FONTS ---*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* 
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
*/

/*--- DEFAULT SETTINGS ---*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

